.text_style {
    text-align: center;
    color:darkblue;
}

p {
    color:darkblue;
}

h1 {
    color:darkblue;
}

label {
    color: darkblue;
}

.table_style {
    font-size:32px; 
    margin-left: auto; 
    margin-right: auto; 
    border-collapse: separate;
    border-spacing: 20px 5px;
}

.container {
  display: flex;
  align-items: center;  /* Vertically aligns them in the center */
  justify-content: space-between; /* Creates equal space between them */
  gap: 2px;            /* Sets a specific minimum gap */
}

.side-image {
  max-width: 45%;       /* Ensures the image doesn't crowd the table */
  height: auto;
  margin-left: auto;    /* Adds some space between the image and the table */
}

.side-table {
  width: 45%;           /* Ensures the table stays proportional */
  border-collapse: collapse;
}

.title_style {
    text-align: center;
    font-size: 64px;
}

.Digdug {
    background-color: tan;
    color: brown;
}

.Donkey_Kong {
    background-color: black;
    color: red;
}

.Frogger {
    background-color: lightblue;
    color: green;
}
.Galaga {
    background-color: orange;
    color: purple;
}
.Pacman {
    background-color: black;
    color: yellow;
}
.Mappy {
    background-color: lightyellow;
    color: red;
}
.Ms_Pacman {
    background-color: black;
    color: pink;
}  
.Rompers {
    background-color: tan;
    color: orange;
}
.Burgertime {
    background-color: lightyellow;
    color: maroon;
}
.oneninefourtwo {
    background-color: lightblue;
    color: darkgreen;
}
