{% extends 'base.html' %}

{% block title %}Strickhouser Arcade - New Score Submissions{% endblock %}


{% block content %}

    <form action="" method="POST">


        <label for="game">Game: </label>
        <select id="game" name="game_id">
            {%for game in games%}
            <option value='{{ game["id"] }}'> {{ game["game"]}}</option>
            {%endfor%}
        </select>

        <label for="student">Player Name: </label>
        <input type="text" id = "student" name="pname" value="{{ form_values.player }}">

        <label for="score">Score: </label>
        <input type="text" id = "score" name="score" value="{{ form_values.score }}">

        <label for="gradyear">Date: </label>
        <!--<input type="text" id = "gradyear" name="pgradyear" value="{{ form_values.date }}">
        -->
        <input type="date" text = "gradyear" name="pgradyear" value="{{ form_values.date }}">
        

        <input type="submit" value="Submit">
    </form>
    

    {%if error%}
        <p>{{error}}</p>
    {%endif%}


{% endblock %}