<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <nav>
	{# url_for generates URLs from function names, not hardcoded paths #}
	<a href="{{ url_for('home') }}">Home</a>
	<a href="{{ url_for('lead_base') }}">Leaderboard</a>
	<a href="{{ url_for('submit') }}">Submit New Scores</a>
    </nav>
    <form action="" method="POST">
            
        <label for="student">Student:</label>
        <input type="text" id="student" name="name" placeholder='Enter Name' value="{{form_values.player}}">

        <label for="game">Game:</label>
            <select name="game" id="game">
                {% for option in options %}
                    <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select>

        <label for="score">Score:</label>
        <input type="text" id="score" name="score" placeholder='12345' value="{{form_values.score}}">

        <label for="date">Date:</label>
        <input type="text" id="date" name="date" placeholder='mm/dd/yyyy' value="{{form_values.date}}">
        <input type="submit" value="Submit">

    </form>

    {% if name %}
        <p>Hello there, {{ name }}!</p>
    {% endif %}
    {% if error %}
        <p>You have the following error: {{ error }}</p>
    {% endif %}
</body>
</html>