{% extends 'base.html' %}

{%block meta%} <meta http-equiv="refresh" content="20"> {%endblock%}
{% block title %}Strickhouser Arcade - Leaderboard{% endblock %}


{% block content %}
<h1 class= "{{ gamename }} title_style">{{ title }}</h1>
    <!--<p>Refresh count: {{count}}</p>
    -->
    <div class= 'container'>
    <image class= 'image_style side-image' src="{{ game_image }}" alt="Game Image">
    {%if scores%}
            
    <table class= '{{ gamename }} table_style side-table'>
        <thead class= "{{ gamename }}">
            <tr>
                <th>Rank</th>
                <th>Player</th>
                <th>Score</th>
            </tr>
        </thead>

        <tbody class= "{{ gamename }} text_style">
        {%for score in scores%}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ score.player}}</td>
                <td>{{ '{:,}'.format(score.score) }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    {% else%}
    <p>No scores here</p>
    {% endif%}
{% endblock %}