{% extends 'base.html' %}

{%block meta%} <meta http-equiv="refresh" content="15"> {%endblock%}
{% block title %}Strickhouser Arcade - Leaderboard{% endblock %}


{% block content %}
<h1 class= title_style>{{ title }}</h1>
    <!--<p>Refresh count: {{count}}</p>
    -->
    {%if scores%}
            
    <p class= text_style>{{ score_count }} Score(s) present</p>
    <table class= table_style>
        <thead class= text_style>
            <tr>
                <th>Rank</th>
                <th>Player</th>
                <th>Score</th>
                <th>Game</th>
                <th>Date</th>
            </tr>
        </thead>

        <tbody class= text_style>
        {%for score in scores%}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ score.player | capitalize }}</td>
                <td>{{ '{:,}'.format(score.score) }}</td>
                <td>{{ score.game_id }}</td>
                <td>{{ score.date }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else%}
    <p>No scores here</p>
    {% endif%}
{% endblock %}